{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'dashboard/css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static 'dashboard/css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{% static 'dashboard/https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="{% static 'dashboard/https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">

    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <!-- Logo icon -->
                        <b class="ml-5">COVID INFORMATION APPLICATION</b>
                        <!--End Logo icon -->
                        <!-- Logo text -->

                    </a>
                </div>
                <!-- End Logo -->

            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Covid Information</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'covid-information' %}">Cases Count</a></li>
                                <li><a href="{% url 'covid-vaccination-center' %}">Vaccination Centers</a></li>

                            </ul>
                        </li>
                        <li class="nav-label">Reports</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Covid Report</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'upload-report' %}">Upload Report</a></li>
                                <li><a href="{% url 'status-report' %}">Report Status</a></li>

                            </ul>
                        </li>


                        <li class="nav-label">Donations</li>
                        <li> <a class="" href="{% url 'donation' %}" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Make Donation</span></a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->



        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Logged as: {{ request.session.name }}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item active"><a href="{% url 'logout' %}"> Logout</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Covid-19 Todos</h4>
                            </div>
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="tdl-content">
                                        <ul>
                                            <li class="color-primary">
                                                <label>
                                                <input type="checkbox"><i class="bg-primary"></i><span>Wash your hands thoroughly.</span>

                                            </label>
                                            </li>
                                            <li class="color-success">
                                                <label>
                                                <input type="checkbox"><i class="bg-success"></i><span>Wear Face Mask in Public Places.</span>

                                            </label>
                                            </li>
                                            <li class="color-warning">
                                                <label>
                                                <input type="checkbox"><i class="bg-warning"></i><span>Maintain Safe Distance.</span>
                                            </label>
                                            </li>
                                            <li class="color-danger">
                                                <label>
                                                <input type="checkbox"><i class="bg-danger"></i><span>Stay Healthy.</span>

                                            </label>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- SECOND CARD -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover ">
										<thead>
											<tr>
												<th>No.</th>
												<th>Link</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
                                                <td><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Covid-19 WHO</a></td>

											</tr>
											<tr>
												<td>2</td>
												<td><a href="https://www.mohfw.gov.in/">Covid-19 India</a> </td>

											</tr>
											<tr>
												<td>3</td>
												<td><a href="https://www.bbc.com/news/coronavirus"> Covid-19 BBC News</a></td>

											</tr>
                                            <tr>
												<td>4</td>
												<td><a href="https://twitter.com/search?q=%23covid19">Covid-19 Twitter</a> </td>

											</tr>

										</tbody>
									</table>
								</div>
							</div>
                        </div>
                    </div>
                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2021 All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'dashboard/js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'dashboard/js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'dashboard/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="{% static 'dashboard/js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/morris-chart/dashboard1-init.js' %}"></script>


	<script src="{% static 'dashboard/js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'dashboard/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
    <!-- scripit init-->

    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>


</body>

</html>