{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>User Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'dashboard/css/lib/dropzone/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{% static 'dashboard/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{% static 'dashboard/https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="{% static 'dashboard/https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <!-- Logo icon -->
                        <b class="ml-5">COVID INFORMATION APPLICATION</b>
                        <!--End Logo icon -->
                        <!-- Logo text -->

                    </a>
                </div>
                <!-- End Logo -->

            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Covid Information</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'covid-information' %}">Cases Count</a></li>
                                <li><a href="{% url 'covid-vaccination-center' %}">Vaccination Centers</a></li>

                            </ul>
                        </li>
                        <li class="nav-label">Reports</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Covid Report</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'upload-report' %}">Upload Report</a></li>
                                <li><a href="{% url 'status-report' %}">Report Status</a></li>

                            </ul>
                        </li>


                        <li class="nav-label">Donations</li>
                        <li> <a class="" href="{% url 'donation' %}" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Make Donation</span></a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Logged as: {{ request.session.name }}</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="{% url 'logout' %}"> Logout</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Upload Report</h4>
                                <h6 class="card-subtitle">Only Upload <code>.pdf </code>files</h6>
                                <form action="#" class="dropzone">
                                    {% csrf_token %}
                                    <div class="fallback">
                                        <input name="file" type="file" accept="application/pdf, application/vnd.ms-excel"/>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'dashboard/js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'dashboard/js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'dashboard/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->








    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/dropzone/dropzone.js' %}"></script>


</body>

</html>